<div>
    <section data-dashboard="biofuelsPoliciesFreqGraph">
        <div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2>{{pAg_biofuelsPoliciesFreqGraph}}</h2>
                        <div data-item="biofuelsPoliciesFreqGraph-1"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                    <div class='col-xs-12'>
                        The frequency graph shows how many AMIS countries have implemented biofuel policies, disaggregated by biofuel policy types, for the selected period. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. Note that policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Individual policy types can be removed from the graph by deselecting them from the legend in the graph.
                    </div>
            </div>
        </div>
    </section>

    <section data-dashboard="biofuelsPoliciesTimeSeriesGraph1">
    <div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{pAg_biofuelsPoliciesTimeSeries}}</h2>
                    <div data-item="biofuelsPoliciesTimeSeriesGraph-1_1"></div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-xs-12'>
                These time series graphs show the evolution over time of how many AMIS countries have implemented biofuel policies, disaggregated by biofuel policy types. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. The final tab, labelled “All”, combines all categories of biofuels. In this last graph, a country with a policy on ethanol and on biodiesel in a particular time period will only be counted once.
                Policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy types can be removed from the graph by deselecting them from the legend in the graph.
                <br>
            </div>
        </div>
    </div>
    </section>

   <section data-dashboard="biofuelsPoliciesTimeSeriesGraph2">
    <div>
    <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{pAg_biofuelsPoliciesTimeSeries}}</h2>
                    <div data-item="biofuelsPoliciesTimeSeriesGraph-2_1"></div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-xs-12'>
                These time series graphs show the evolution over time of how many AMIS countries have implemented biofuel policies, disaggregated by biofuel policy types. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. The final tab, labelled “All”, combines all categories of biofuels. In this last graph, a country with a policy on ethanol and on biodiesel in a particular time period will only be counted once.
                Policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy types can be removed from the graph by deselecting them from the legend in the graph.
                <br>
            </div>
        </div>
    </div>
    </section>


    <section data-dashboard="biofuelsPoliciesTimeSeriesGraph3">
        <div>
        <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2>{{pAg_biofuelsPoliciesTimeSeries}}</h2>
                        <div data-item="biofuelsPoliciesTimeSeriesGraph-3_1"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-xs-12'>
                    These time series graphs show the evolution over time of how many AMIS countries have implemented biofuel policies, disaggregated by biofuel policy types. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. The final tab, labelled “All”, combines all categories of biofuels. In this last graph, a country with a policy on ethanol and on biodiesel in a particular time period will only be counted once.
                    Policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy types can be removed from the graph by deselecting them from the legend in the graph.
                    <br>
                </div>
            </div>
        </div>
    </section>

<section data-dashboard="biofuelsPoliciesTimeSeriesGraph4">
<div>
<br>
<div class="row">
<div class="col-xs-12">
    <div class="z-depth-1 hoverable dash-box">
    <h2>{{pAg_biofuelsPoliciesTimeSeries}}</h2>
        <div data-item="biofuelsPoliciesTimeSeriesGraph-4_1"></div>
    </div>
</div>
</div>
<br>
<div class='row'>
<div class='col-xs-12'>
    These time series graphs show the evolution over time of how many AMIS countries have implemented biofuel policies, disaggregated by biofuel policy types. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. The final tab, labelled “All”, combines all categories of biofuels. In this last graph, a country with a policy on ethanol and on biodiesel in a particular time period will only be counted once.
    Policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy types can be removed from the graph by deselecting them from the legend in the graph.
    <br>
</div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDownload">
<div>
<br>
<div class="row">
    <div class="col-xs-12">

        <div class="z-depth-1 hoverable dash-box">
            <div data-item="biofuelsPoliciesDownload-1">
            <div class="col-xs-4 col-xs-offset-5">
            <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedFreqGraph">
<div>
<br>
<div class="row">
    <div class="col-xs-12">

        <div class="z-depth-1 hoverable dash-box">
        <h2>{{pAg_biofuelsPoliciesDetailedFreqGraph}}</h2>
            <div data-item="biofuelsPoliciesDetailedFreqGraph-1"></div>
        </div>
    </div>
</div>
<br>
<div class='row'>
        <div class='col-xs-12'>
            This time series graph shows the evolution over time of how many AMIS countries have implemented the selected biofuel policy type, disaggregated by biofuel policy measures. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. The final tab, labelled “All”, combines all categories of biofuels. In this last graph, a country with a policy on ethanol and on biodiesel in a particular time period will only be counted once.<br>
            Policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
            <br>
        </div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedTimeSeriesGraph1">
<div>
<br>
<div class="row">
<div class="col-xs-12">
    <div class="z-depth-1 hoverable dash-box">
        <h2>{{pAg_biofuelsPoliciesDetailedTimeSeries}}</h2>
        <div data-item="biofuelsPoliciesDetailedTimeSeriesGraph-1_1"></div>
    </div>
</div>
</div>
<br>
<div class='row'>
<div class='col-xs-12'>
    This time series graph shows the evolution over time of how many AMIS countries have implemented the selected biofuel policy type, disaggregated by biofuel policy measures. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. The final tab, labelled “All”, combines all categories of biofuels. In this last graph, a country with a policy on ethanol and on biodiesel in a particular time period will only be counted once.<br>
    Policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
    <br>
</div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedTimeSeriesGraph2">
<div>
<br>
<div class="row">
<div class="col-xs-12">
    <div class="z-depth-1 hoverable dash-box">
        <h2>{{pAg_biofuelsPoliciesDetailedTimeSeries}}</h2>
        <div data-item="biofuelsPoliciesDetailedTimeSeriesGraph-2_1"></div>
    </div>
</div>
</div>
<br>
<div class='row'>
<div class='col-xs-12'>
    This time series graph shows the evolution over time of how many AMIS countries have implemented the selected biofuel policy type, disaggregated by biofuel policy measures. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. The final tab, labelled “All”, combines all categories of biofuels. In this last graph, a country with a policy on ethanol and on biodiesel in a particular time period will only be counted once.<br>
    Policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
    <br>
</div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedTimeSeriesGraph3">
<div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="z-depth-1 hoverable dash-box">
            <h2>{{pAg_biofuelsPoliciesDetailedTimeSeries}}</h2>
            <div data-item="biofuelsPoliciesDetailedTimeSeriesGraph-3_1"></div>
        </div>
    </div>
</div>
<br>
<div class='row'>
    <div class='col-xs-12'>
        This time series graph shows the evolution over time of how many AMIS countries have implemented the selected biofuel policy type, disaggregated by biofuel policy measures. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. The final tab, labelled “All”, combines all categories of biofuels. In this last graph, a country with a policy on ethanol and on biodiesel in a particular time period will only be counted once.<br>
        Policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
        <br>
    </div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedTimeSeriesGraph4">
<div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="z-depth-1 hoverable dash-box">
            <h2>{{pAg_biofuelsPoliciesDetailedTimeSeries}}</h2>
            <div data-item="biofuelsPoliciesDetailedTimeSeriesGraph-4_1"></div>
        </div>
    </div>
</div>
<br>
<div class='row'>
    <div class='col-xs-12'>
        This time series graph shows the evolution over time of how many AMIS countries have implemented the selected biofuel policy type, disaggregated by biofuel policy measures. A distinction is made between policies that are targeted on ethanol, biodiesel, or biofuel (unspecified). This last category is used when the legal document does not specify whether the policy applies to ethanol or biodiesel. The final tab, labelled “All”, combines all categories of biofuels. In this last graph, a country with a policy on ethanol and on biodiesel in a particular time period will only be counted once.<br>
        Policies are displayed at country-level, which means that if a certain country implements biofuel policies at different state-levels for the selected period, this country is only counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
        <br>
    </div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedDownload">
<div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="z-depth-1 hoverable dash-box">
            <div data-item="biofuelsPoliciesDetailedDownload-1">
                <div class="col-xs-4 col-xs-offset-5">
                    <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<section data-dashboard="importTariffsGraph">
<div>
<br>
<div class="row">
    <div class="col-xs-12">

        <div class="z-depth-1 hoverable dash-box">
            <div data-item="importTariffsGraph-1"></div>
        </div>
    </div>
</div>
<br>
<div class='row'>
        <div class='col-xs-12'>
            The graph compares the average values of MFN applied and final bound ad valorem import tariffs on the 4 AMIS crops (wheat, rice, maize and soybeans) in the AMIS countries. Data on specific or compound tariffs is not considered for this graph, nor are Other Duties and Charges (ODC) and information on mixed commodity classes. The number of notifications differs from year to year and not all countries notify each year. The number of tariff lines (TLS) that are used to calculate the average values depend on the notifications on applied tariffs made in a specific year. For example, if there were notifications on applied tariffs for 20 TLS that relate to wheat in 2010, then the average bound value will be calculated using those 20 TLS. If in the next year, there are were notifications on applied tariffs for 40 TLS that relate to wheat in 2011, then the average bound value will be calculated using those 40 TLS. Hover over a specific bar to display the value of the tariff as well as the number of TLS. Commodities can be removed from the graph by deselecting them from the legend in the graph.
            <br>
        </div>
</div>
</div>
</section>

<section data-dashboard="importTariffsDownload">
<div>
<br>
<div class="row">
    <div class="col-xs-12">

        <div class="z-depth-1 hoverable dash-box">
            <div data-item="importTariffsDetailedDownload-1">
                <div class="col-xs-4 col-xs-offset-5">
                    <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<section data-dashboard="exportSubsidiesGraph">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">

            <div class="z-depth-1 hoverable dash-box">
                <div data-item="exportSubsidiesGraph-1"></div>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
            <div class='col-xs-12'>
                The graph displays export subsidies for the selected commodity class in the selected country in terms of quantity and budgetary outlay. Both the commitments and notifications are displayed. Zero values are also displayed and can be seen by hovering over the X-axis. Values are aggregated in countries with export subsidies for more than one group of commodities in a specific commodity class. Commitments and notification categories can be removed from the graph by deselecting them from the legend in the graph.
                <br>
            </div>
    </div>
</div>
</section>

<section data-dashboard="exportSubsidiesDownload">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">

            <div class="z-depth-1 hoverable dash-box">
                <div data-item="exportSubsidiesDownload-1">
                    <div class="col-xs-4 col-xs-offset-5">
                        <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section data-dashboard="exportRestrictionsFreqGraph">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">

            <div class="z-depth-1 hoverable dash-box">
                <h2> {{pAg_exportRestrictionPoliciesFreqGraph}} </h2>
                <div data-item="exportRestrictionsFreqGraph-1"></div>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
            <div class='col-xs-12'>
               The frequency graph shows how many AMIS countries have implemented export restrictive measures during the selected period. A distinction is made between policies that are targeted on wheat, maize, rice and soybeans.<br>
               Note that policies are displayed at commodity class level, which means that if a certain country implements an export tax on two different types of wheat during the selected period, this country is only counted once in the wheat category. <br>
               Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
               <br>
            </div>
    </div>
</div>
</section>

<section data-dashboard="exportRestrictionsTimeSeriesGraph1">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">
            <div class="z-depth-1 hoverable dash-box">
                <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                <div data-item="exportRestrictionsTimeSeriesGraph-1_1"></div>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-xs-12'>
           This time series graph shows the evolution over time of how many AMIS countries have implemented export restrictive measures. A distinction is made between policies that are targeted on wheat, maize, rice and soybeans.<br>
           Note that policies are displayed at commodity class level, which means that if a certain country implements an export tax on two different types of wheat during the selected period, this country is only counted once in the wheat category. <br>
           The final tab, labelled “All”, combines all commodity classes. In this last graph, a country with a policy on wheat and maize in a particular time period will only be counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
           <br>
        </div>
    </div>
</div>
</section>

<section data-dashboard="exportRestrictionsTimeSeriesGraph2">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">
            <div class="z-depth-1 hoverable dash-box">
                <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                <div data-item="exportRestrictionsTimeSeriesGraph-2_1"></div>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-xs-12'>
           This time series graph shows the evolution over time of how many AMIS countries have implemented export restrictive measures. A distinction is made between policies that are targeted on wheat, maize, rice and soybeans.<br>
          Note that policies are displayed at commodity class level, which means that if a certain country implements an export tax on two different types of wheat during the selected period, this country is only counted once in the wheat category. <br>
          The final tab, labelled “All”, combines all commodity classes. In this last graph, a country with a policy on wheat and maize in a particular time period will only be counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
          <br>
        </div>
    </div>
</div>
</section>


<section data-dashboard="exportRestrictionsTimeSeriesGraph3">
    <div>
    <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                    <div data-item="exportRestrictionsTimeSeriesGraph-3_1"></div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-xs-12'>
                  This time series graph shows the evolution over time of how many AMIS countries have implemented export restrictive measures. A distinction is made between policies that are targeted on wheat, maize, rice and soybeans.<br>
                     Note that policies are displayed at commodity class level, which means that if a certain country implements an export tax on two different types of wheat during the selected period, this country is only counted once in the wheat category. <br>
                     The final tab, labelled “All”, combines all commodity classes. In this last graph, a country with a policy on wheat and maize in a particular time period will only be counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
                     <br>
            </div>
        </div>
    </div>
</section>

<section data-dashboard="exportRestrictionsTimeSeriesGraph4">
        <div>
        <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                        <div data-item="exportRestrictionsTimeSeriesGraph-4_1"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-xs-12'>
                   This time series graph shows the evolution over time of how many AMIS countries have implemented export restrictive measures. A distinction is made between policies that are targeted on wheat, maize, rice and soybeans.<br>
                   Note that policies are displayed at commodity class level, which means that if a certain country implements an export tax on two different types of wheat during the selected period, this country is only counted once in the wheat category. <br>
                   The final tab, labelled “All”, combines all commodity classes. In this last graph, a country with a policy on wheat and maize in a particular time period will only be counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
                   <br>
                </div>
            </div>
        </div>
    </section>
<section data-dashboard="exportRestrictionsTimeSeriesGraph5">
        <div>
        <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                        <div data-item="exportRestrictionsTimeSeriesGraph-5_1"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-xs-12'>
                   This time series graph shows the evolution over time of how many AMIS countries have implemented export restrictive measures. A distinction is made between policies that are targeted on wheat, maize, rice and soybeans.<br>
                   Note that policies are displayed at commodity class level, which means that if a certain country implements an export tax on two different types of wheat during the selected period, this country is only counted once in the wheat category. <br>
                   The final tab, labelled “All”, combines all commodity classes. In this last graph, a country with a policy on wheat and maize in a particular time period will only be counted once. Policies without an explicit end date are shown to stay valid until the last date displayed in the graph. Individual policy measures can be removed from the graph by deselecting them from the legend in the graph.
                   <br>
                </div>
            </div>
        </div>
    </section>
    <section data-dashboard="exportRestrictionsDownload">
        <div>
        <br>
            <div class="row">
                <div class="col-xs-12">

                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="exportRestrictionsDownload-1">
                        <div class="col-xs-4 col-xs-offset-5">
                            <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>