<div>
    <section data-dashboard="biofuelsPoliciesFreqGraph">
        <div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2>{{pAg_biofuelsPoliciesFreqGraph}}</h2>
                        <div data-item="biofuelsPoliciesFreqGraph-1"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                    <div class='col-xs-12'>
                        {{pAg_biofuelsPoliciesFreqGraph_belowDescrip_1}}
                    </div>
            </div>
        </div>
    </section>

    <section data-dashboard="biofuelsPoliciesTimeSeriesGraph1">
    <div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{pAg_biofuelsPoliciesTimeSeries}}</h2>
                    <div data-item="biofuelsPoliciesTimeSeriesGraph-1_1"></div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-xs-12'>
            {{pAg_biofuelsPoliciesTimeSeries_belowDescrip_1_1}}
                <br>
            </div>
        </div>
    </div>
    </section>

   <section data-dashboard="biofuelsPoliciesTimeSeriesGraph2">
    <div>
    <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{pAg_biofuelsPoliciesTimeSeries}}</h2>
                    <div data-item="biofuelsPoliciesTimeSeriesGraph-2_1"></div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-xs-12'>
            {{pAg_biofuelsPoliciesTimeSeries_belowDescrip_2_1}}
                <br>
            </div>
        </div>
    </div>
    </section>


    <section data-dashboard="biofuelsPoliciesTimeSeriesGraph3">
        <div>
        <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2>{{pAg_biofuelsPoliciesTimeSeries}}</h2>
                        <div data-item="biofuelsPoliciesTimeSeriesGraph-3_1"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-xs-12'>
                {{pAg_biofuelsPoliciesTimeSeries_belowDescrip_3_1}}
                    <br>
                </div>
            </div>
        </div>
    </section>

<section data-dashboard="biofuelsPoliciesTimeSeriesGraph4">
<div>
<br>
<div class="row">
<div class="col-xs-12">
    <div class="z-depth-1 hoverable dash-box">
    <h2>{{pAg_biofuelsPoliciesTimeSeries}}</h2>
        <div data-item="biofuelsPoliciesTimeSeriesGraph-4_1"></div>
    </div>
</div>
</div>
<br>
<div class='row'>
<div class='col-xs-12'>
{{pAg_biofuelsPoliciesTimeSeries_belowDescrip_4_1}}
    <br>
</div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDownload">
<div>
<br>
<div class="row">
    <div class="col-xs-12">

        <div class="z-depth-1 hoverable dash-box">
            <div data-item="biofuelsPoliciesDownload-1">
            <div class="col-xs-4 col-xs-offset-5">
            <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedFreqGraph">
<div>
<br>
<div class="row">
    <div class="col-xs-12">

        <div class="z-depth-1 hoverable dash-box">
        <h2>{{pAg_biofuelsPoliciesDetailedFreqGraph}}</h2>
            <div data-item="biofuelsPoliciesDetailedFreqGraph-1"></div>
        </div>
    </div>
</div>
<br>
<div class='row'>
        <div class='col-xs-12'>
            {{pAg_biofuelsPoliciesDetailedFreqGraph_belowDescrip_1}}
            <br>
        </div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedTimeSeriesGraph1">
<div>
<br>
<div class="row">
<div class="col-xs-12">
    <div class="z-depth-1 hoverable dash-box">
        <h2>{{pAg_biofuelsPoliciesDetailedTimeSeries}}</h2>
        <div data-item="biofuelsPoliciesDetailedTimeSeriesGraph-1_1"></div>
    </div>
</div>
</div>
<br>
<div class='row'>
<div class='col-xs-12'>
{{pAg_biofuelsPoliciesDetailedTimeSeries_belowDescrip_1_1}}
    <br>
</div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedTimeSeriesGraph2">
<div>
<br>
<div class="row">
<div class="col-xs-12">
    <div class="z-depth-1 hoverable dash-box">
        <h2>{{pAg_biofuelsPoliciesDetailedTimeSeries}}</h2>
        <div data-item="biofuelsPoliciesDetailedTimeSeriesGraph-2_1"></div>
    </div>
</div>
</div>
<br>
<div class='row'>
<div class='col-xs-12'>
{{pAg_biofuelsPoliciesDetailedTimeSeries_belowDescrip_2_1}}
    <br>
</div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedTimeSeriesGraph3">
<div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="z-depth-1 hoverable dash-box">
            <h2>{{pAg_biofuelsPoliciesDetailedTimeSeries}}</h2>
            <div data-item="biofuelsPoliciesDetailedTimeSeriesGraph-3_1"></div>
        </div>
    </div>
</div>
<br>
<div class='row'>
    <div class='col-xs-12'>
    {{pAg_biofuelsPoliciesDetailedTimeSeries_belowDescrip_3_1}}

        <br>
    </div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedTimeSeriesGraph4">
<div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="z-depth-1 hoverable dash-box">
            <h2>{{pAg_biofuelsPoliciesDetailedTimeSeries}}</h2>
            <div data-item="biofuelsPoliciesDetailedTimeSeriesGraph-4_1"></div>
        </div>
    </div>
</div>
<br>
<div class='row'>
    <div class='col-xs-12'>
    {{pAg_biofuelsPoliciesDetailedTimeSeries_belowDescrip_4_1}}
        <br>
    </div>
</div>
</div>
</section>

<section data-dashboard="biofuelsPoliciesDetailedDownload">
<div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="z-depth-1 hoverable dash-box">
            <div data-item="biofuelsPoliciesDetailedDownload-1">
                <div class="col-xs-4 col-xs-offset-5">
                    <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<section data-dashboard="importTariffsGraph">
<div>
<br>
<div class="row">
    <div class="col-xs-12">

        <div class="z-depth-1 hoverable dash-box">
            <div data-item="importTariffsGraph-1"></div>
        </div>
    </div>
</div>
<br>
<div class='row'>
        <div class='col-xs-12'>
        {{pAg_importTariffsGraph_belowDescrip_1}}
            <br>
        </div>
</div>
</div>
</section>

<section data-dashboard="importTariffsDownload">
<div>
<br>
<div class="row">
    <div class="col-xs-12">

        <div class="z-depth-1 hoverable dash-box">
            <div data-item="importTariffsDetailedDownload-1">
                <div class="col-xs-4 col-xs-offset-5">
                    <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<section data-dashboard="exportSubsidiesGraph">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">

            <div class="z-depth-1 hoverable dash-box">
                <div data-item="exportSubsidiesGraph-1"></div>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
            <div class='col-xs-12'>
            {{pAg_exportSubsidiesGraph_belowDescrip_1}}
                <br>
            </div>
    </div>
</div>
</section>

<section data-dashboard="exportSubsidiesDownload">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">
            <div class="z-depth-1 hoverable dash-box">
                <div data-item="exportSubsidiesDownload-1">
                    <div class="col-xs-4 col-xs-offset-5">
                        <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section data-dashboard="exportRestrictionsFreqGraph">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">

            <div class="z-depth-1 hoverable dash-box">
                <h2> {{pAg_exportRestrictionPoliciesFreqGraph}} </h2>
                <div data-item="exportRestrictionsFreqGraph-1"></div>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
            <div class='col-xs-12'>
               {{pAg_exportRestrictionPoliciesFreqGraph_belowDescrip_1}}
               <br>
            </div>
    </div>
</div>
</section>

<section data-dashboard="exportRestrictionsTimeSeriesGraph1">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">
            <div class="z-depth-1 hoverable dash-box">
                <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                <div data-item="exportRestrictionsTimeSeriesGraph-1_1"></div>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-xs-12'>
        {{pAg_exportRestrictionPoliciesTimeSeries_belowDescrip_1_1}}
           <br>
        </div>
    </div>
</div>
</section>

<section data-dashboard="exportRestrictionsTimeSeriesGraph2">
<div>
<br>
    <div class="row">
        <div class="col-xs-12">
            <div class="z-depth-1 hoverable dash-box">
                <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                <div data-item="exportRestrictionsTimeSeriesGraph-2_1"></div>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-xs-12'>
        {{pAg_exportRestrictionPoliciesTimeSeries_belowDescrip_2_1}}
          <br>
        </div>
    </div>
</div>
</section>


<section data-dashboard="exportRestrictionsTimeSeriesGraph3">
    <div>
    <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                    <div data-item="exportRestrictionsTimeSeriesGraph-3_1"></div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-xs-12'>
            {{pAg_exportRestrictionPoliciesTimeSeries_belowDescrip_3_1}}
           <br>
            </div>
        </div>
    </div>
</section>

<section data-dashboard="exportRestrictionsTimeSeriesGraph4">
        <div>
        <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                        <div data-item="exportRestrictionsTimeSeriesGraph-4_1"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-xs-12'>
                {{pAg_exportRestrictionPoliciesTimeSeries_belowDescrip_4_1}}
                   <br>
                </div>
            </div>
        </div>
    </section>
<section data-dashboard="exportRestrictionsTimeSeriesGraph5">
        <div>
        <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2> {{pAg_exportRestrictionPoliciesTimeSeries}} </h2>
                        <div data-item="exportRestrictionsTimeSeriesGraph-5_1"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-xs-12'>
                {{pAg_exportRestrictionPoliciesTimeSeries_belowDescrip_5_1}}
                   <br>
                </div>
            </div>
        </div>
    </section>
    <section data-dashboard="exportRestrictionsDownload">
        <div>
        <br>
            <div class="row">
                <div class="col-xs-12">

                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="exportRestrictionsDownload-1">
                        <div class="col-xs-4 col-xs-offset-5">
                            <a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>Download</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>