<div>
<section data-description="biofuelsPolicies">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>{{pAg_pageDescriptions_biofuelsPolicies_title}}</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            {{pAg_pageDescriptions_biofuelsPolicies_descrip_1}}
            <ul>
                <li>{{pAg_pageDescriptions_biofuelsPolicies_descrip_2}}</li>
                <li>{{pAg_pageDescriptions_biofuelsPolicies_descrip_3}}</li>
            </ul>
            <br>
            {{pAg_pageDescriptions_biofuelsPolicies_descrip_4a}}
             <a data-toggle="modal" data-target="#myModal2">{{pAg_pageDescriptions_modal_country}}</a>{{pAg_pageDescriptions_biofuelsPolicies_descrip_4c}}
            <br><br>
            {{pAg_pageDescriptions_biofuelsPolicies_descrip_5}}

        </div>

        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{pAg_pageDescriptions_modal_country_close}}</span></button>
                            <h4 class="modal-title" id="myModalLabel2">{{pAg_pageDescriptions_modal_country_title}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>

<div>
<section data-description="biofuelsPoliciesDetailed">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>{{pAg_pageDescriptions_biofuelsPoliciesDetailed_title}}</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            {{pAg_pageDescriptions_biofuelsPoliciesDetailed_descrip_1a}}<a href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>{{pAg_pageDescriptions_organizational_diagram}}</a> {{pAg_pageDescriptions_biofuelsPoliciesDetailed_descrip_1b}}
            <br><br>
            {{pAg_pageDescriptions_biofuelsPoliciesDetailed_descrip_2a}}<a data-toggle="modal" data-target="#myModal2">{{pAg_pageDescriptions_modal_country}}</a>{{pAg_pageDescriptions_biofuelsPoliciesDetailed_descrip_2b}}
            <br><br>
            {{pAg_pageDescriptions_biofuelsPoliciesDetailed_descrip_3}}
        </div>

        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{pAg_pageDescriptions_modal_country_close}}</span></button>
                            <h4 class="modal-title" id="myModalLabel2">{{pAg_pageDescriptions_modal_country_title}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>
<div>

<section data-description="importTariffs">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>{{pAg_pageDescriptions_importTariffs_title}}</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
<span>{{pAg_pageDescriptions_importTariffs_descrip_1a}}<a data-toggle="modal" data-target="#myModal2">{{pAg_pageDescriptions_modal_country}}</a>.{{pAg_pageDescriptions_importTariffs_descrip_1b}}<br><br>{{pAg_pageDescriptions_importTariffs_descrip_1c}}<a href="#resources">{{"pAg_pageDescriptions_resources"}}</a>{{pAg_pageDescriptions_importTariffs_descrip_1d}}<br></span>
        </div>

        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{pAg_pageDescriptions_modal_country_close}}</span></button>
                            <h4 class="modal-title" id="myModalLabel2">{{pAg_pageDescriptions_modal_country_title}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>

<div>
<section data-description="exportSubsidies">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>{{pAg_pageDescriptions_exportSubsidies_title}}</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
             <span>{{"pAg_pageDescriptions_exportSubsidies_descrip_1a"}}<a data-toggle="modal" data-target="#myModal2">{{pAg_pageDescriptions_modal_country}}</a>{{"pAg_pageDescriptions_exportSubsidies_descrip_1b"}}<br>
                    <ul>
                        <li>{{"pAg_pageDescriptions_exportSubsidies_descrip_1c"}}</li>
                        <li>{{"pAg_pageDescriptions_exportSubsidies_descrip_1d"}}</li>
                    </ul>
                        {{"pAg_pageDescriptions_exportSubsidies_descrip_1e"}}<a href="http://fenixrepo.fao.org/data/policy/resources/SharedGroupList_May2016.xls" target='_blank'>{{pAg_pageDescriptions_sharedGroupList}}</a>{{"pAg_pageDescriptions_exportSubsidies_descrip_1f"}}<br>
                        {{"pAg_pageDescriptions_exportSubsidies_descrip_1g"}}<a href="#resources">{{pAg_pageDescriptions_resources}}</a> page.
                    </span>
                    <br>
        </div>

        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{pAg_pageDescriptions_modal_country_close}}</span></button>
                            <h4 class="modal-title" id="myModalLabel2">{{pAg_pageDescriptions_modal_country_title}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>

<div>
<section data-description="exportRestrictions">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>{{pAg_pageDescriptions_exportRestrictions_title}}</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
          {{pAg_pageDescriptions_exportRestrictions_descrip_1a}}<a data-toggle="modal" data-target="#myModal2">{{pAg_pageDescriptions_modal_country}}</a>{{pAg_pageDescriptions_exportRestrictions_descrip_1b}}<br><br>
            {{pAg_pageDescriptions_exportRestrictions_descrip_1c}}
        </div>
        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{pAg_pageDescriptions_modal_country_close}}</span></button>
                            <h4 class="modal-title" id="myModalLabel2">{{pAg_pageDescriptions_modal_country_title}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>