<div class="row amis-step-title">
    <div class="col-xs-12">
        <span class="amis-step-number">{{qAd_title_first_num}}</span>
        <span class="amis-step-title-text">{{qAd_title_first}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div data-selector="commodityDomain"></div>
    </div>
    <div class="col-xs-6">
        <div data-selector="policyDomain"></div>
    </div>
</div>
<br>
<div class="row amis-step-title">
    <div class="col-xs-12">
        <span class="amis-step-number">{{qAd_title_second_num}}</span>
        <span class="amis-step-title-text">{{qAd_title_second}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div data-selector="policyType"></div>
    </div>
    <div class="col-xs-6">
        <div data-selector="policyMeasure"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div data-selector="commodityClass"></div>
    </div>
    <div class="col-xs-6">
        <div data-selector="country"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div data-selector="mixedCommodityClass"></div>
    </div>
</div>
<br>
<div class="row amis-step-title">
    <div class="col-xs-12">
        <span class="amis-step-number">{{qAd_title_third_num}}</span>
        <span class="amis-step-title-text">{{qAd_title_third}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div data-selector="year"></div>
    </div>
</div>

